[submodule "remote/fff"]
	path = submodules/fff
	url = https://github.com/meekrosoft/fff.git
[submodule "remote/googletest"]
	path = submodules/googletest
	url = https://github.com/google/googletest.git
[submodule "submodules/ccspec"]
	path = submodules/ccspec
	url = https://github.com/zhangsu/ccspec.git
